body {
    background-color: rgb(32, 32, 32);
    height: 100dvh;
    overflow: hidden;
    color: white;
}

#trackLine {
    width: 90%;
    height: 6px;
    background-color: white;
    border: 0px;
    border-radius: 100px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

#canvas {
    position: fixed;
    top: 5%;
    width: 88%;
    height: 21%;
    left: 50%;
    transform: translateX(-50%);
}

.valueInput {
    width: 160px;
    height: 36px;
    outline: none;
    padding-left: 9px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 1px;
    margin-bottom: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
    transition: all .3s ease-in-out;
}

.valueInput:focus {
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.6);
}

#inputContainer {
    height: 30%;
    width: 15%;
    bottom: 22.5%;
    left: 3%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    font-size: 14px;
}

#graphContainers {
    height: 35%;
    width: 75%;
    position: fixed;
    bottom: 20%;
    right: 4%;
    display: flex;
    justify-content: space-between;
}

#buttonsContainer {
    position: fixed;
    bottom: 5%;
    width: 47.5%;
    justify-content: space-between;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    height: 36px;
    width: 270px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.buttons:hover {
    transform: scale(1.05);
    background-color: rgb(50, 50, 50);
    border: 1px solid white;
    color: white;
}

.buttons.hover {
    transition: all .175s ease-in-out;
    transform: scale(1.05);
    background-color: rgb(50, 50, 50);
    border: 1px solid white;
    color: white;
}

#speed {
    position: fixed;
    right: 58.5%;
}

#position {
    position: fixed;
    right: 31%;
}


.timer {
    height: 44px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 1px;
    width: 186px;
    text-align: center;
    color: red;
    font-size: 26px;
    padding-top: 10px;
}

#timers {
    top: 29%;
    position: fixed;
    width: 90%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transform: translateX(-50%);
}

#halfTrackLength {
    position: fixed;
    left: 42.95%;
    top: 100%;
    transform: translateX(-50%);
    font-size: 27px;
    height: 34px;
    width: 186px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 1px;
    text-align: center;
}

#trackLength {
    position: fixed;
    left: 57.05%;
    transform: translateX(-50%);
    font-size: 27px;
    top: 100%;
    height: 34px;
    width: 186px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 1px;
    text-align: center;
}

#carSelector {
    width: 90%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
    top: 2%;
}

.car {
    width: 90px;
    height: auto;
    border: none;
    cursor: pointer;
}

#carro1 {
    transform: scale(-1, 1);
    width: 94px;
    height: auto;
}

#carro3 {
    width: 80px;
    height: 27px;
    margin-top: 2.2%;
}

.car.active {
    filter: 
    drop-shadow(0 0 2px white) 
    drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}